{% extends 'base.html' %}

{% block content %}
<div class="col-md-12">
    <div class="form-modal">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="mx-auto">
                    <div class="" id="modal-form">
                        <h2>Reset Password</h2>
                        {% load rest_framework%}
                        <form method="post" class="mx-auto" action="">
                            {% render_form reset_password %}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>

                    </div>
                    {% if message %}
                        {{message}}
                    {% endif %}
                    {% if errors %}
                        {% for e in errors%}
                            {{ e }}<br>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
